.App {
  display: flex;
  height: 100vh;
  overflow-y: auto;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.universities-table-container {
  min-width: 400px;
  width: 80%;
}

.universities-filter {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.universities-filter > * {
  margin-left: 10px;
}
