.App {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.universities-table-container {
  margin-top: 2rem;
  min-width: 400px;
  width: 80%;
}

.universities-filter {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-bottom: 5px;
}

.universities-filter > * {
  margin-left: 10px;
}
